.header {
  height: 5rem;
  padding: 2rem;
  background-color: var(--gray);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header-logo {
  align-items: center;
  gap: 1rem;
  display: flex;
}

.header-logo-img {
  height: 5rem;
  width: auto;
}

.header-logo-text {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--main);
}

.header-nav {
  font-size: 2rem;
  gap: 2.5rem;
  display: flex;
}

.header-btn {
  height: fit-content;
  font-size: 2rem;
}