/* #region HEADER */
.header-wrapper {
  position: fixed;
  z-index: 99;
  top: 0;
}
.header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 9rem;
  padding: 0 4rem;
  box-sizing: border-box;
  background: color-mix(in srgb, var(--black-main) 80%, transparent 20%);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(139, 0, 255, 0.3);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header-logo {
  height: 100%;
  align-items: center;
  gap: 1rem;
  display: flex;
}

.header-logo-img {
  height: 100%;
}

.header-logo-text {
  font-size: 2.5rem;
  font-weight: 800;
  background-position: 200% center;
}

.header-nav {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  gap: 8rem;
  display: flex;
}

.header-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.2rem;
  background-color: var(--main);
  transition: all 0.3s;
  display: block;
}

.header-link:hover::after {
  width: 100%;
}

.header-btn {
  height: fit-content;
  font-size: 2rem;
}

.header-burger {
  width: 4.5rem;
  gap: 1rem;
  display: none;
}

.header-burger > div {
  height: 0.2rem;
  background-color: var(--white-text);
}
/* #endregion HEADER */

.wave-container {
  width: 100vw;
  height: 3rem;
  overflow: hidden;
  line-height: 0;
  filter: blur(1rem);
  transform: translateY(-10%);
}

.wave-container svg {
  width: 100%;
  height: 100%;
  display: block;
}

/* #region SIDEBAR */
.sidebar {
  position: fixed;
  z-index: 101;
  top: 0;
  width: 100%;
  padding: 2rem 4rem 4rem;
  box-sizing: border-box;
  background-color: var(--black-main);
  transition: all 0.3s;
}
.sidebar.open::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background: linear-gradient(
    90deg,
    var(--blue-accent),
    var(--green-main),
    var(--violet-accent),
    var(--violet-main),
    var(--yellow-main),
    var(--orange-main)
  );
  background-size: 200%;
  transform: translateY(100%);
  animation: aside-grad 4s infinite;
  display: block;
}
.sidebar.open {
  transform: translateY(0);
}
.sidebar.close {
  transform: translateY(-100%);
}
.sidebar-close {
  position: absolute;
  z-index: 1;
  top: 10%;
  right: 10%;
  width: 3rem;
  height: 3rem;
}
.sidebar-close > div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 0.25rem;
  background-color: var(--white-text);
  transform-origin: center;
  transition: transform 0.25s ease;
  transform: translate(-50%, -50%) rotate(45deg);
}
.sidebar-close > div:nth-child(even) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.sidebar-links {
  margin: 4rem 0;
  gap: 2rem;
  display: grid;
}
.sidebar-link {
  width: fit-content;
  font-size: 4rem;
  font-weight: 800;
  text-transform: uppercase;
}

.sidebar-logo {
  position: relative;
}

.sidebar-logo::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.25rem;
  width: 100%;
  height: 0.25rem;
  background-color: var(--gray);
}
/* #endregion SIDEBAR */

@keyframes aside-grad {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

@media (max-width: 900px) {
  .header-nav,
  .header-btn {
    display: none;
  }
  .header-burger {
    display: grid;
  }

  .header {
    height: 10rem;
  }
  .header-logo-text {
    font-size: 5rem;
  }
  .header-logo-img {
    height: 10rem;
  }
}
