/* #region HEADER */
.header {
  height: 5rem;
  padding: 2rem;
  background-color: var(--gray);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header-logo {
  align-items: center;
  gap: 1rem;
  display: flex;
}

.header-logo-img {
  height: 5rem;
  width: auto;
}

.header-logo-text {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--main);
}

.header-nav {
  font-size: 2rem;
  gap: 2.5rem;
  display: flex;
}

.header-btn {
  height: fit-content;
  font-size: 2rem;
}

.header-burger {
  width: 4.5rem;
  gap: 1rem;
  display: grid;
}

.header-burger > div  {
  height: .2rem;
  background-color: var(--white);
}
/* #endregion HEADER */

/* #region SIDEBAR */
.sidebar {
  position: fixed;
  z-index: 101;
  top: 0;
  width: 100%;
  padding: 2rem 4rem 4rem;
  box-sizing: border-box;
  background-color: var(--black);
  transition: all .3s;
  display: none;
}
.sidebar.open {
  transform: translateY(0);
}
.sidebar.close {
  transform: translateY(-100%);
}
.sidebar-close {
  position: absolute;
  z-index: 1;
  top: 10%;
  right: 10%;
  width: 3rem;
  height: 3rem;
}
.sidebar-close > div  {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: .25rem;
  background-color: var(--white);
  transform-origin: center;
  transition: transform 0.25s ease;
  transform: translate(-50%, -50%) rotate(45deg);
}
.sidebar-close > div:nth-child(even)  {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.sidebar-links {
  margin: 4rem 0;
  gap: 1.5rem;
  display: grid;
}
.sidebar-link {
  width: fit-content;
  font-size: 2.5rem;
}

.sidebar-logo {
  position: relative;
}

.sidebar-logo::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -.25rem;
  width: 100%;
  height: .25rem;
  background-color: var(--gray);
}
/* #endregion SIDEBAR */

@media (max-width: 600px) {
  .header-nav, .header-btn {
    display: none;
  }
  .sidebar {
    display: block;
  }
}
