.vassistant, .vassistant-btn {
  position: absolute;
  right: 44rem;
  bottom: 2.5rem;
  z-index: 99;
  width: 8rem;
  height: 8rem;
  padding: 0.5rem;
  background: color-mix(in srgb, var(--violet-accent) 15%, transparent 85%);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100vw;
}

.vassistant img,
.vassistant-btn img {
  width: 100%;
  height: auto;
}

.vassistant {
  z-index: 101;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 25rem;
}
