.signin {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding: 4rem 2rem 2rem;
  align-self: center;
  text-align: center;
}

.signin-title {
  margin-bottom: 4rem;
  color: var(--main);
  font-size: 4rem;
  gap: 2rem;
  display: grid;
}

.signin-form {
  padding: 4rem;
  background-color: var(--gray);
  border: .1rem solid color-mix(in srgb, var(--gray) 80%, var(--white) 20%);
  border-radius: 1.5rem;
  gap: 2rem;
  display: grid;
}

.signin-item {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: left;
  gap: 1rem;
  display: grid;
}

.signin-btn {
  background-color: var(--main);
}

.inpt-shov-btn {
  color: var(--white);
  margin-right: 2rem;
}

/* #region Google button */
.googleBtn {
  height: 6.2rem;
  padding: 2rem 3rem;
  background-color: var(--white);
  border-radius: .5rem;
  gap: 1.5rem;
  justify-content: center;
  display: flex;
}
.googleBtn-txt {
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(90deg, #4285F4, #34A853, #FBBC05, #EA4335);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: google 2s infinite;
}
.googleBtn img {
  height: 100%;
}

@keyframes google {
  0% {
    background-position: 0% center;
  } 50% {
    background-position: 100% center;
  } 100% {
    background-position: 0% center;
  }
}
/* #endregion Google button */

@media (max-width: 600px) {
  .signin {
    width: 80vw;
  }
}