.signin {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding: 8rem 2rem 2rem;
  border: .10rem solid var(--white);
  border-radius: 2rem;
  align-self: center;
}


/* #region Google button */
.googleBtn {
  height: 4rem;
  padding: 1rem 3rem;
  background-color: var(--white);
  border-radius: .5rem;
  gap: 1.5rem;
  display: flex;
}
.googleBtn-txt {
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(90deg, #4285F4, #34A853, #FBBC05, #EA4335);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: google 2s infinite;
}
.googleBtn img {
  height: 100%;
}

@keyframes google {
  0% {
    background-position: 0% center;
  } 50% {
    background-position: 100% center;
  } 100% {
    background-position: 0% center;
  }
}
/* #endregion Google button */
