@import "@/public/fonts/fonts.css";
@import "./collors.css";

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 8px;
  scroll-behavior: smooth;
  background-color: var(--black);
} body {
  min-height: 100dvh;
  font-family: var(--Montserrat);
  color: var(--white);
  flex-direction: column;
  display: flex;
} button {
  border: none;
  background: none;
  cursor: pointer;
  transition: all .3s;
} section {
  padding: 12rem 4rem;
} main {
  flex: 1 0 auto;
} button:hover {
  filter: brightness(1.2);
} li {
  list-style: none;
} a {
  color: var(--white);
  text-decoration: none;
} img {
  max-width: 100vw;
  width: auto;
  height: auto;
  object-fit: "contain"!important;
}

body::-webkit-scrollbar {
  width: 0px;
}