@import "@/public/fonts/fonts.css";
@import "./collors.css";

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 8px;
  scroll-behavior: smooth;
  background-color: var(--black-alt);
}
body {
  min-height: 100dvh;
  margin-top: 9rem;
  font-family: var(--Montserrat);
  color: var(--white-text);
  flex-direction: column;
  display: flex;
}
button {
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s;
}
section {
  padding: 12rem 4rem 4rem;
}
main {
  padding-bottom: 8rem;
  flex: 1 0 auto;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
button:hover {
  filter: brightness(1.2);
}
li {
  list-style: none;
}
a {
  width: fit-content;
  color: var(--blue-accent);
  text-decoration: none;
  align-content: center;
}
.link-grad {
  position: relative;
  background: linear-gradient(90deg, var(--main) 50%, var(--white-text) 50%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 1s;
  align-content: center;
}
.link-grad:hover {
  animation: gradient 1s forwards;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--gray) inset; /* задає фон */
  -webkit-text-fill-color: var(--white); /* колір тексту */
  font-size: 2rem;
  border: none;
  outline: none;
}
input {
  width: 100%;
  position: relative;
  font-size: 2rem;
  padding: 1.5rem;
  color: var(--white);
  background-color: transparent;
}
.input-box {
  overflow: hidden;
  border: 0.3rem solid color-mix(in srgb, var(--gray) 80%, var(--white) 20%);
  border-radius: 1rem;
  transition: all 0.3s;
  display: flex;
}
.input-box:has(input:focus),
.input-box:has(input:hover) {
  border: 0.3rem solid var(--main);
}
img {
  max-width: 100vw;
  width: auto;
  height: auto;
  object-fit: "contain" !important;
}

body::-webkit-scrollbar {
  width: 0px;
}

p {
  color: var(--gray-text);
}

@keyframes gradient {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: -200% center;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 1.33vw;
  }
}
