.hero {
  padding: 0;
  padding-bottom: 4rem;
  background: var(--black-main);
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
  justify-items: center;
  display: grid;
}

.hero-logo {
  height: 40rem;
}

.hero-desc {
  max-width: fit-content;
  font-size: 3rem;
  text-align: center;
}

.hero-btns {
  height: fit-content;
  margin-top: 4rem;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

.hero-btn {
  font-size: 2rem;
  font-weight: 800;
  transition: all .3s;
  text-transform: uppercase;
  border: .25rem solid transparent;
  display: block;
}
.hero-btn.violet:hover {
  color: var(--white-text);
  background: var(--main);
}

.hero-btn.violet {
  border-color: var(--main);
  color: var(--main)
}
.hero-btn.gray {
  border-color: var(--gray-border);
  color: var(--gray-border)
}



.hero-btn.gray:hover {
  color: var(--black-alt);
  background: var(--gray-border);
}

.features {
  text-align: center;
}

.features-title {
  font-size: 4rem;
}

.features-list {
  margin-top: 4rem;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  display: flex;
}

.features-item {
  max-width: 400px;
  width: 100%;
  padding: 2rem 4rem;
  background-color: var(--gray);
  border: solid var(--white) .08rem;
  border-radius: 2rem;
  text-align: left;
  transition: all .3s;
  gap: 1.5rem;
  display: grid;
}

.features-item:hover {
  transform: translateY(5%);
}

.features-bold {
  font-size: 2.5rem;
}

.features-desc {
  font-size: 1.8rem;
}

@media (max-width: 480px) {
  .hero-btns {
    display: grid;
  }
  .hero-btn {
    width: 40rem;
  }
}