.hero {
  padding: 0;
  padding-bottom: 4rem;
  background: var(--black-main);
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
  justify-items: center;
  display: grid;
}

.hero-logo {
  height: 40rem;
}

.hero-desc {
  max-width: fit-content;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

.hero-btns {
  height: fit-content;
  margin-top: 4rem;
  gap: 2rem;
  justify-content: center;
  display: flex;
}

.hero-btn {
  font-size: 2rem;
  font-weight: 800;
  transition: all .3s;
  text-transform: uppercase;
  border: .25rem solid transparent;
  display: block;
}
.hero-btn.violet:hover {
  color: var(--white-text);
  background: var(--main);
}

.hero-btn.violet {
  border-color: var(--main);
  color: var(--main)
}
.hero-btn.gray {
  border-color: var(--gray-border);
  color: var(--gray-border)
}



.hero-btn.gray:hover {
  color: var(--black-alt);
  background: var(--gray-border);
}

.features {
  padding-left: 10rem;
  padding-right: 10rem;
  text-align: center;
}

.features-title {
  font-size: 6rem;
}
.features-title::after {
  bottom: -1rem;
}

.features-list {
  margin-top: 8rem;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8rem;
  display: flex;
}

.features-item {
  position: relative;
  max-width: 40rem;
  width: 100%;
  padding: 2rem 4rem;
  background: linear-gradient(150deg, var(--black-alt) 10%,var(--black-main) 20%, var(--black-main) 80%, var(--black-alt));
  border-radius: 2rem;
  text-align: left;
  transition: all .3s;
  gap: 1.5rem;
  flex-direction: column;
  display: flex;
}

.features-item::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  width: calc(100% + .5rem);
  height: calc(100% + .5rem);
  background: linear-gradient(var(--angle-grad), var(--main-gradient));
  animation: rotateGradient 8s infinite;
  border-radius: 2rem;
  filter: blur(1rem);
  display: block;
}

.features-item-icon {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}

.features-bold {
  height: 1.4em;
  font-size: 4rem;
  border-bottom: .3rem solid var(--black-alt);
}

.features-desc {
  font-size: 2.5rem;
  align-self: top;
  color: var(--white-text);
}

@keyframes rotateGradient {
  0% {
    --angle-grad: 0deg;
  }
  100% {
    --angle-grad: 360deg;
  }
}

@media (max-width: 900px) {
  .features {
    padding-left: 0;
    padding-right: 0;
  }
  .features-title {
    margin: 0 auto;
    font-size: 8rem;
  }
  .features-item {
    max-width: 90vw;
    width: 75vw;
    box-sizing: border-box;
  }
  .features-item-icon {
    font-size: 6rem;
  }
  .features-bold {
    font-size: 6rem;
  }
  .features-desc {
    font-size: 3.5rem;
  }
}

@media (max-width: 480px) {
  .hero-btn {
    font-size: 2.5rem;
  }
}