.about-history {
  align-self: flex-start;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
  display: grid;
}

.about-title {
  margin-bottom: 8rem;
  font-size: 8rem;
  font-weight: 900;
  color: var(--main);
}

.about-history-desc {
  font-size: 2.5rem;
}

.about-history-logo {
  width: 70%;
  margin: auto;
}

@media (max-width: 900px) {
  .about-history {
    grid-template-columns: 1fr;
  }
  .about-title {
    font-size: 12rem;
  }
  .about-history-desc {
    font-size: 4rem;
  }
}
