.about-history {
  align-self: flex-start;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
  display: grid;
}

.about-title {
  margin-bottom: 8rem;
  font-size: 8rem;
  font-weight: 900;
  color: var(--main);
}

.about-history-desc {
  font-size: 2.5rem;
}

.about-history-logo {
  width: 70%;
  margin: auto;
}

.about-list {
  gap: 4rem;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
}

.about-item {
  padding: 3rem;
  background-color: var(--gray);
  border-radius: 1rem;
}

.about-item-title {
  margin-bottom: 1rem;
  font-size: 3rem;
  color: var(--main);
}

.about-item p {
  font-size: 2rem;
}

.about-start {
  text-align: center;
}

.about-start h2 {
  margin-bottom: 2rem;
  font-size: 4rem;
}

.about-start-btns {
  display: flex;
}

@media (max-width: 900px) {
  .about-history {
    grid-template-columns: 1fr;
  }
  .about-title {
    font-size: 9rem;
    margin-bottom: 4rem;
  }
  .about-history-desc {
    font-size: 4rem;
  }
  .about-list {
    grid-template-columns: 1fr;
  }
  .about-item {
    padding: 4rem;
    border-radius: 2rem;
  }
  .about-item-title {
    font-size: 6rem;
    margin-bottom: 4rem;
  }
  .about-item p {
    font-size: 4rem;
  }
}
