.team-title {
  margin-bottom: 2rem;
  font-size: 7rem;
  font-weight: 900;
  color: var(--main);
  text-transform: uppercase;
}

.team-desc {
  font-size: 3rem;
}

.team-top {
  margin-bottom: 8rem;
}

.team .swiper-slide {
  justify-content: center;
  gap: 8rem;
  display: flex !important;
}

.team .card {
  max-width: 45rem;
  width: 100vw;
  padding: 2rem;
  overflow: hidden;
  border-radius: 1rem;
  background-color: var(--gray-text);
}

.team .card-img {
  width: 100%;
}

.team .card-name {
  font-size: 4rem;
}

.team .card-direction {
  font-size: 2.5rem;
}

.team .card-skills {
  margin-top: 1rem;
  gap: 2rem;
  flex-wrap: wrap;
  display: flex;
}

.team .card-skill {
  font-size: 1.8rem;
  padding: .4rem 1rem;
  border-radius: 100vw;
}

.team .card-btn {
  width: 100%;
  height: fit-content;
  margin-top: 2rem;
  font-size: 2.5rem;
}