.aidesc-wrapper {
  width: fit-content;
  margin: 0 auto;
}

.aidesc-form textarea {
  max-width: 480px;
  width: 80vw;
  height: 15rem;
  padding: 2rem 4rem;
  border: 2px solid var(--gray-text);
  border-radius: 2rem;
  background: transparent;
  color: var(--white-text);
  font-size: 2rem;
  display: block;
}

.aidesc-btn {
  width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
  display: block;
}

.aidesc-output {
  max-width: 480px;
  width: 70vw;
  margin: 0 auto;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: normal;
}

.aidesc-output * {
  color: var(--white-text);
}